#main-content {
  position: relative;
}

#kpb-scene {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;

  .kpb-layer {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .background {
    position: absolute;
    width: 110%;
    height: 110%;
    background-size: cover;
    background-position: center;
    top: -5%;
    left: -5%;
  }

  .full {
    position: absolute;
    width: 120%;
    height: 5000%;
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    bottom: -5%;
    left: -10%;
  }
}
